{#
/**
 * @file
 * Default theme implementation of QR Code.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 *
 * @see template_preprocess_qr_code()
 *
 * @ingroup themeable
 */
#}
<div {{attributes}}>
    <div>To purchase this product on our app to avail exclusive app-only</div>
    {{ qr_code }}
</div>